/* CSS Variables */
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}



.top-side{
background: url(https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
background-size: cover;
background-position: center;
padding: 3rem;
}


.btn {
  background: #b30000;
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
}




/* Top Container */


/* Showcase */
.showcase {
  min-height:500px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}

.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
}

/* Top Box */


.medium-side{

  background: #12412;
  padding: 1rem;



}
.top-box {
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: var(--shadow);
  padding: 1.5rem;
}

.top-box .price {
  font-size: 2.5rem;
}

.top-box-a {
  grid-area: top-box-a;
}

.top-box-b {
  grid-area: top-box-b;
}

/* Boxes */
.boxes {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {

  background: #f5fcfb;

  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
}

.box img{
  max-width: 100px;
  min-width: 100px;
  max-height: 100px;
  min-height: 100px;

  }

/* Info */
.info {
  background: #f5fcfb;
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(2, 1fr);
  padding: 3rem;
}
.info img{
  max-width: 80%;
}

/* Portfolio */
.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

/* Footer */
footer {
  margin-top: 2rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* Media Queries */
@media (max-width: 700px) {
  .top-container {
    grid-template-areas:
      'showcase showcase'
      'top-box-a top-box-b';
  }

  .showcase h1 {
    font-size: 2.5rem;
  }

  .main-nav ul {
    grid-template-columns: 1fr;
  }

  .info {
    grid-template-columns: 1fr;
  }
  .bottomPart img{
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
  }

  .info .btn {
    display: block;
    text-align: center;
    margin: auto;
  }
}



@media (max-width: 500px) {
  .top-container {
    grid-template-areas:
      'showcase'
      'top-box-a'
      'top-box-b';
  }
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;

  border-radius: 10px;

}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #111;
  background-size:contain;
}
#logolist{
  float:left;
}
#logo{
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  overflow: hidden;

}
#logo:hover{
  color#fff;
}
#portofolioPresentation{
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  overflow: hidden;

}

#githubLink {
  color:orange;
  border: 1px solid #3498db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "montserrat";
  cursor: pointer;

  transition: 0.8s;
  position: relative;
  overflow: hidden;

}
.githubLink{
  color: #3498db;
}

.githubLink:hover{
  color: #fff;
}
.githubLink::before{
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 0%;
  background: #3498db;
  z-index: -1;
  transition: 0.8s;
}
.btn1::before,.btn3::before{
  top: 0;
  border-radius: 0 0 50% 50%;
}
.btn2::before,.btn4::before{
  bottom: 0;
  border-radius: 50% 50% 0 0;
}
.btn3::before,.btn4::before{
  height: 180%;
}
.btn1:hover::before,.btn2:hover::before{
  height: 180%;
}
.btn3:hover::before,.btn4:hover::before{
  height: 0%;
}




#MyCV{
  background-color: inherit;
    overflow: hidden;
    font-size: 20px;
}




/* aboutPage */



.wrapperabout {
  display: grid;
  grid-gap: 20px;
  background: url(Resources/coverabout.jpeg);
  background-size: cover;
  background-position: center;
  padding: 3rem;

}
.flex{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit);


}



#aboutMe{

	font-size: 5rem;
	font-family: veranda;
  color:white;


}

.wrapperabout h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color:white;


}

.wrapperabout p {
  font-size: 1.3rem;
  margin-top: 0;
  color:white;
  max-width: 50%;

}

.myskills li{
	text-align: left;
	font-family: veranda;
	font-size: 1.3rem;
  color:white;
}

#myResume{

  margin-top: 5rem;

}






/* contact section*/






.contact-section{
  background: url(Resources/contactme.jpg) no-repeat center;
  background-size: cover;
  padding: 30px 0;
}
.contact-section h1{
  text-align: center;
  color: white;
  font-size:60px;
}
.border{
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form{
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;

}

.contact-form-text{
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: white;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}
.contact-form-text:focus{
  box-shadow: 0 0 10px 4px #34495e;
}
textarea.contact-form-text{
  resize: none;
  height: 120px;
}
.contact-form-btn{
  float: right;
  border: 0;
  background: #34495e;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
}
.contact-form-btn:hover{
  background: #2980b9;
}









/*cv */


.topsideCV{
  background: url(Resources/CvCoverTop.jpeg) no-repeat center;
  background-size: cover;
  background-position: center;
  padding: 3rem;
  min-height:350px ;
}

.topsideCV h4,h3{
  text-align: center;
  color:white;

}
.topsideCV img{

  display: block;
  max-width: 180px;
    margin-left: auto;
    margin-right: auto;
     border-radius: 50%;

}
.btnCv{

  margin: 0;
  position: relative;
  top: 50%;
  left: 40%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);



  background: #b30000;
  color: var(--light);
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;

}

.mybuttonsCV{
  height: 100px;
  }


.WrapperCv{
    display:block;

    padding:3rem;

}

.WrapperCv > div{
  box-shadow: 0 0 10px 4px #34495e;
  background-color: white;
    margin: 10px;
    padding: 20px;
}

.WrapperCv p{
  font-size: 1rem;
	font-family: "montserrat";
  color:bliack;
}

.WrapperCv h2{
  color:black;
  font-family: "montserrat";

}
.containerBox{
  display: grid;
  grid-template-columns: 20% 80%;


}
.containerBox div{
  padding:2rem;
}
.containerBox img{
  max-width: 100%;
}






/*specialbuttons*/
.middle{
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.btnSpecial{
  display: inline-block;
  width: 90px;
  height: 90px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #3498db;
  overflow: hidden;
  position: relative;
}
.btnSpecial i{
  line-height: 90px;
  font-size: 26px;
  transition: 0.2s linear;
}
.btnSpecial:hover i{
  transform: scale(1.3);
  color: #f1f1f1;
}
.btnSpecial::before{
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #3498db;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btnSpecial:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%;
}
@keyframes aaa {
  0%{
    left: -110%;
    top: 90%;
  }50%{
    left: 10%;
    top: -30%;
  }100%{
    top: -10%;
    left: -10%;
  }
}
